*, *:before, *:after {
  box-sizing: border-box;
}

/*De-border-radius everything*/
a.btn,
.panel,
.alert,
input.form-control {
    border-radius: 0;
}

/*Make alerts smaller*/
.alert {
    padding: 10px;
    padding-right: 30px;
}

#nav-a {
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0 15px;
    background-color: rgb(60, 60, 60);
    color: white;
    position: fixed;
}

#nav-a > div {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
}

#nav-a > div > a,
#nav-a > div > a:hover,
#nav-a > div > a:visited {
    color: white;
}

#nav-a > div > a::after {
    content: "|";
    margin: 0 1em;
}

#nav-a > div > a:last-child::after {
    content: "";
    margin: 0;
}

#nav-a > div > span {
    margin: 0 1em;
}

#nav-b {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100px;
    padding: 0 15px;
    position: fixed;
    top: 35px;
}

#nav-b ul {
    font-variant: small-caps;
    font-size: 13pt;
}

#nav-b > div {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-b > div > * {
    flex: none
}

/* Overriding the bootstrap default*/
#nav-b .nav-tabs > li.active > a {
    background-color: rgb(247, 247, 247);
}

#logo {
    font-family: impact, sans-serif;
    font-size: 28pt;
}

html, body {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 135px;
    overflow-y: scroll;
}

#content > * {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#summary {
    height: 100%;
    padding-top: 15px;
}

#accounts {
    height: 100%;
    border-right: solid 1px grey;
    width:300px;
}
