<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hmint | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>

  <body>
    <div id="register">
      <a href="javascript: void 0;">Register</a>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Login to hmint</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal" data-bind="with:form">
          <div id="messages"></div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" data-bind="value: email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input class="form-control" type="password" data-bind="value: password">
            </div>
          </div>
          <a href="javascript: void 0;" class="btn btn-success btn-block" data-bind="click: $root.login">Login</a>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="text/javascript">$(function () { app.setup(); });</script>
  <script src="{{ url_for('static', filename='js/modules/login.js') }}"></script>
  <script type="text/javascript">$(function () { app.modules.login.setup(); });</script>
</html>
