{% extends "base.html" %}
{% set active_page = "overview" %}

{% block title %}Overview{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modules/overview.css') }}">
{% endblock %}

{% block content %}
<div id="overview">
  <div id="accounts"></div>
  <div></div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/modules/overview.js') }}"></script>
<script type="text/javascript">$(function () { app.modules.overview.setup(); });</script>
{% endblock %}
